### Import Libraries

In [23]:
import pandas as pd

### Load the dataset

In [24]:
df = pd.read_csv('./datasets/household_power_consumption.txt', delimiter=';', low_memory=False)

### Grab time series of electricity usage

In [25]:
df['date_time'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])
df['electricity_usage'] = pd.to_numeric(df['Global_active_power'], errors='coerce')
df = df[['date_time', 'electricity_usage']].copy()

### Set the index as and sort by date and time

In [26]:
df = df.set_index('date_time').sort_index()

### Resample to hourly frequency

In [27]:
df_hour = df.resample('1H').mean()

### Create shifted time series

In [28]:
df_hour['electricity_usage'] = df_hour['electricity_usage'].fillna(method='ffill')
df_hour['electricity_usage_1hr_lag'] = df_hour['electricity_usage'].shift()
df_hour['electricity_usage_2hr_lag'] = df_hour['electricity_usage'].shift(2)
df_hour['electricity_usage_3hr_lag'] = df_hour['electricity_usage'].shift(3)
df_hour['electricity_usage_4hr_lag'] = df_hour['electricity_usage'].shift(4)
df_hour['electricity_usage_5hr_lag'] = df_hour['electricity_usage'].shift(5)
df_hour['electricity_usage_6hr_lag'] = df_hour['electricity_usage'].shift(6)
df_hour['electricity_usage_7hr_lag'] = df_hour['electricity_usage'].shift(7)
df_hour['electricity_usage_8hr_lag'] = df_hour['electricity_usage'].shift(8)

### Create month/seasonality as a feature

In [29]:
df_hour['month'] = df_hour.index.month

### Drop missing data

In [30]:
df_hour = df_hour.dropna()

### Split train test sets

In [31]:
sample_size = df_hour.shape[0] - 200
df_train = df_hour.iloc[:sample_size].copy()
df_test = df_hour.iloc[sample_size:].copy()

In [32]:
df_train.head()

,electricity_usage,electricity_usage_1hr_lag,electricity_usage_2hr_lag,electricity_usage_3hr_lag,electricity_usage_4hr_lag,electricity_usage_5hr_lag,electricity_usage_6hr_lag,electricity_usage_7hr_lag,electricity_usage_8hr_lag,month
date_time,,,,,,,,,,
2006-12-17 01:00:00,3.349400,1.882467,2.061600,2.200133,3.056467,3.268567,3.400233,3.632200,4.222889,12
2006-12-17 02:00:00,1.587267,3.349400,1.882467,2.061600,2.200133,3.056467,3.268567,3.400233,3.632200,12
2006-12-17 03:00:00,1.662200,1.587267,3.349400,1.882467,2.061600,2.200133,3.056467,3.268567,3.400233,12
2006-12-17 04:00:00,2.215767,1.662200,1.587267,3.349400,1.882467,2.061600,2.200133,3.056467,3.268567,12
2006-12-17 05:00:00,1.996733,2.215767,1.662200,1.587267,3.349400,1.882467,2.061600,2.200133,3.056467,12

<hr>

### Install PyCaret

In [33]:
!pip install pycaret

In [34]:
from pycaret.regression import setup, compare_models, predict_model
pycaret_automl = setup(data=df_train, target = 'electricity_usage', session_id=666)

### Evaluate models performance

In [35]:
pycaret_models = compare_models(sort='MSE', budget_time=5)

In [36]:
print(pycaret_models)

LGBMRegressor(n_jobs=-1, random_state=666)

<hr>

In [37]:
predictions = predict_model(pycaret_models, data=df_test)
print(predictions.columns)

Index(['electricity_usage_1hr_lag', 'electricity_usage_2hr_lag',
       'electricity_usage_3hr_lag', 'electricity_usage_4hr_lag',
       'electricity_usage_5hr_lag', 'electricity_usage_6hr_lag',
       'electricity_usage_7hr_lag', 'electricity_usage_8hr_lag', 'month',
       'electricity_usage', 'prediction_label'],
      dtype='object')

<hr>

In [38]:
from sklearn.metrics import mean_squared_error

mean_squared_error(predictions['electricity_usage'], predictions['prediction_label'])

0.3574659342307327

In [39]:
x_columns = df.drop(df.columns[-1], axis=1, inplace=True)

In [ ]:
# predictions.plot(x= x_columns, y=['electricity_usage', 'prediction_label'])
# plt.show()

In [ ]:
# predictions[['electricity_usage', 'prediction_label']].plot()

In [40]:
import warnings
warnings.filterwarnings('ignore')

In [42]:
import matplotlib.pyplot as plt

# Assuming 'datetime_column' is the name of your datetime column
predictions['datetime_column'] = pd.to_datetime(predictions['datetime_column'])

# Assuming 'electricity_usage' and 'prediction_label' are numerical columns
predictions[['electricity_usage', 'prediction_label']] = predictions[['electricity_usage', 'prediction_label']].astype(float)

# Now, you can use the plot method
predictions.plot(x='datetime_column', y=['electricity_usage', 'prediction_label'])
plt.show()

KeyError: 'datetime_column'

In [41]:
import matplotlib.pyplot as plt

predictions.plot(x= x_columns, y=['electricity_usage', 'prediction_label'])
plt.show()

AttributeError: 'DataFrame' object has no attribute '_convert'